global:
  hosts:
    domain: gitlab.local
    https: false

  ingress:
    enabled: true
    class: traefik
    tls:
      enabled: false

  initialRootPassword:
    secret: gitlab-initial-root-password
    key: password
nginx-ingress:
  enabled: false

prometheus:
  install: false

gitlab-runner:
  install: false
certmanager-issuer:
  email: admin@gitlab.local
gitlab:
  webservice:
    minReplicas: 1
    maxReplicas: 1
    workerProcesses: 1
    resources:
      requests:
        memory: 1.25G

  sidekiq:
    minReplicas: 1
    maxReplicas: 1

  kas:
    minReplicas: 1

  sidekiq:
    concurrency: 10

registry:
  enabled: true
