global:
  edition: ce
  hosts:
    domain: gitlab.local
    https: false

  deployment:
    enabled: true

  gitlab-shell:
    enabled: false
  
  ingress:
    enabled: true
    class: traefik
    tls:
      enabled: false

  initialRootPassword:
    secret: gitlab-initial-root-password
    key: password

nginx-ingress:
  enabled: false

prometheus:
  install: false

gitlab-runner:
  install: false

grafana:
  enabled: false

registry:
  enabled: true

gitlab-pages:
  enabled: false

kas:
  enabled: false

certmanager-issuer:
  email: admin@gitlab.local
gitlab:
  webservice:
    minReplicas: 1
    maxReplicas: 1
    workerProcesses: 1
    resources:
      requests:
        memory: 1.2G

  sidekiq:
    concurrency: 10
    minReplicas: 1
    maxReplicas: 1

  kas:
    minReplicas: 1

  sidekiq:
    concurrency: 10